POSTGRES_USER=gestao_padaria
POSTGRES_PASSWORD=gestao_padaria
POSTGRES_DB=gestao_padaria_db

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
