@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Island+Moments&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #FAF7F2;
  --color-warm-brown: #9A6B4E;
  --color-warm-beige: #F5F0E6;
  --color-sage-green: #8F9E8B;
  --font-island: "Island Moments", cursive;
  --font-bacasime: "Bacasime Antique", serif;
}